API/SOAP/finance_courses.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Library"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Library"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation/>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
            <xsd:element name="AdditionalInfoFinanceCourseDTO">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="numSubscribers" type="xsd:string"/>
                        <xsd:element name="numReviews" type="xsd:string"/>
                        <xsd:element name="numPublishedLectures" type="xsd:integer"/>
                        <xsd:element name="instructionalLevel" type="xsd:string"/>
                        <xsd:element name="contentInfo" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FinanceCourseDTO">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:integer"/>
                        <xsd:element name="title" type="xsd:string"/>
                        <xsd:element name="url" type="xsd:string"/>
                        <xsd:element name="isPaid" type="xsd:boolean"/>
                        <xsd:element name="price" type="xsd:string"/>
                        <xsd:element name="additionalInfoFinanceCourseDTO" ref="tns:AdditionalInfoFinanceCourseDTO" minOccurs="0"/>
                        <xsd:element name="publishedTime" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FinanceCourseDTOs">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:FinanceCourseDTO" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetAllFinanceCourses">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="GetAllFinanceCoursesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:FinanceCourseDTO" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetAllFinanceCoursesRequest">
        <wsdl:part name="parameters" element="tns:GetAllFinanceCourses"/>
    </wsdl:message>
    <wsdl:message name="GetAllFinanceCoursesResponse">
        <wsdl:part name="parameters" element="tns:GetAllFinanceCoursesResponse"/>
    </wsdl:message>

    <wsdl:portType name="Library">
        <wsdl:operation name="GetAllFinanceCourses">
            <wsdl:input message="tns:GetAllFinanceCoursesRequest"/>
            <wsdl:output message="tns:GetAllFinanceCoursesResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Library" type="tns:Library">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAllFinanceCourses">
            <soap:operation
                    soapAction="http://172.80.0.2/soap-rest-performance-comparison/API/SOAP/server.php"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Library">
        <wsdl:port binding="tns:Library" name="BookLibrary">
            <soap:address location="http://172.80.0.2/soap-rest-performance-comparison/API/SOAP/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>