API/SOAP/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Library"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Library"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Library"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Library">
            <xsd:element name="Page">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="count" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Book">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="year" type="xsd:integer"/>
                        <xsd:element name="page" ref="tns:Page" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Books">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Book" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetAllBooks">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="GetAllBooksResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Book" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="BookYearRequest">
        <wsdl:part name="Book" type="tns:Book"/>
    </wsdl:message>
    <wsdl:message name="BookYearResponse">
        <wsdl:part name="Book" type="tns:Book"/>
    </wsdl:message>
    <wsdl:message name="GetAllBooksRequest">
        <wsdl:part name="parameters" element="tns:GetAllBooks"/>
    </wsdl:message>
    <wsdl:message name="GetAllBooksResponse">
        <wsdl:part name="parameters" element="tns:GetAllBooksResponse"/>
    </wsdl:message>

    <wsdl:portType name="Library">
        <wsdl:operation name="BookYear">
            <wsdl:input message="tns:BookYearRequest"/>
            <wsdl:output message="tns:BookYearResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllBooks">
            <wsdl:input message="tns:GetAllBooksRequest"/>
            <wsdl:output message="tns:GetAllBooksResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Library" type="tns:Library">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="BookYear">
            <soap:operation soapAction="http://172.80.0.2/soap-rest-performance-comparison/SOAP/server.php"/>
            <wsdl:input>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="Library"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllBooks">
            <soap:operation
                    soapAction="http://172.80.0.2/soap-rest-performance-comparison/SOAP/server.php"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Library">
        <wsdl:port binding="tns:Library" name="BookLibrary">
            <soap:address location="http://172.80.0.2/soap-rest-performance-comparison/SOAP/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>

<!--
<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Body>
        <bookYear xmlns="Library">
            <book>
                <name>test 2</name>
                <year>1997</year>
                <page>
                    <count>1</count>
                </page>
            </book>
        </bookYear>
    </Body>
</Envelope>
-->